body{
    background-color: rgb(242,242,242);
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");


header{
    color: rgb(101, 143, 221); 
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    margin-left: 170px;
}
.section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    display: flex;
    flex-direction: column;
    width: 27%;
    
}
.left * {
        width: 100%;
}
.left input {
    height: 37px; 
    background-color: rgb(255, 255, 255);
    width: 98%;
    border-radius: 4px;
    border: 1px solid rgb(210,213,233);
}
label{
    color: rgb(99, 145, 224);
    max-width: 200px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-bottom:3px;
}
select{
    height: 37px; 
    border-radius: 4px;
    border: 1px solid rgb(213,213,233);
}
.left div {
    margin-top: 40px;
    border-radius: 20px;
    

}

button{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(45,114,241);
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgb(45,114,241);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    font-size: 18px;
}


.right{
    width: 50%;
    height: 170px;
    background: rgb(255,255,255);
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(42, 45, 48, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.div1 span{ 
    display: flex;


}
.right img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    
}
.Priority-name{
    width: 100px;    
    max-width: 80px;
    height: 25px;
    background: rgb(241,95,145);
    color:white;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
   
}
.task2{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: rgb(78,86,168);
    margin-bottom: 10px;
    
}
.div2{
    display: flex;
   
   
}
.div2 span{
    background: rgb(220,220,220);
    color: rgb(70,113,187);
    margin-right:5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 140px;
    height: 30px;
    margin-bottom: 10px;
}
.div3{
    display: flex;
    
}
.div3 span{
    width: auto;         
    color:rgb(70,113,187) ;
    margin-left: 10px;
    margin-top: 7px;
}
.date-comment{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    padding-bottom: 22px;
}
.comments{
    color:rgb(95, 126, 180) ;
}
.date{
    align-self: flex-end;
    color: rgb(111, 122, 122);
}
.fa-user{
    padding-top: 5px;
}

@media only screen and (max-width: 800px) {
    .section {
        flex-direction: column;
        align-items: center;
    }

    .left,
    .right {
        width: 100%;
    }

    header {
        margin-left: 0;
        text-align: center;
    }
}
